<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Contact Detail</mat-card-title>
  </mat-card-header>
  <div *ngIf="contact">
    <mat-card-content class="card-content">
      <p>
        <mat-icon>person</mat-icon>
        <strong>Name: </strong>{{ contact.name }}
      </p>
      <p>
        <mat-icon>person</mat-icon>
        <strong>Surname: </strong>{{ contact.surname }}
      </p>
      <p>
        <mat-icon>person</mat-icon>
        <strong>LastName: </strong>{{ contact.lastName }}
      </p>
      <p>
        <mat-icon>phone</mat-icon>
        <strong>Phone: </strong>{{ contact.telephone }}
      </p>
      <p>
        <mat-icon>email</mat-icon>
        <strong>Email: </strong>{{ contact.email }}
      </p>
      <p>
        <mat-icon>corporate_fare</mat-icon>
        <strong>Company: </strong>{{ contact.companyName }}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="editContact()"
      >
        <mat-icon>edit</mat-icon>Edit
      </button>
      <button mat-raised-button type="button" (click)="closeContact()">
        <mat-icon>close</mat-icon>Close
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="openDeleteDialog(contact.id); $event.stopPropagation()"
      >
        <mat-icon>delete</mat-icon>Delete
      </button>
    </mat-card-actions>
  </div>
</mat-card>
