<mat-card class="card">
  <mat-card-title>Charts - Companies</mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div>
        <p><strong>Company contacts</strong></p>
        <ngx-charts-bar-vertical
          [view]="[400, 300]"
          [results]="companyContacts"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Company"
          yAxisLabel="Number of contacts"
          [yAxisTickFormatting]="formatAxisTick"
        ></ngx-charts-bar-vertical>
      </div>
      <div>
        <p><strong>Number of Companies per country</strong></p>
        <ngx-charts-pie-chart
          [view]="[400, 300]"
          [results]="companiesByCountry"
          [labels]="true"
          [doughnut]="true"
        ></ngx-charts-pie-chart>
      </div>
    </div>
    <div class="chart-row">
      <div>
        <p><strong>Companies per sector</strong></p>
        <ngx-charts-line-chart
          [view]="[400, 300]"
          [results]="companiesBySector"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Sector"
          yAxisLabel="Number of companies"
          [yAxisTickFormatting]="formatAxisTick"
        ></ngx-charts-line-chart>
      </div>
      <div>
        <p><strong>Cities</strong></p>
        <ngx-charts-bar-horizontal
          [view]="[400, 300]"
          [results]="companiesCityData"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showYAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Number of companies"
          yAxisLabel="City"
          [xAxisTickFormatting]="formatAxisTick"
        ></ngx-charts-bar-horizontal>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-title>Charts - Contacts</mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div>
        <p><strong>Initial surname</strong></p>
        <ngx-charts-bar-vertical
          [view]="[400, 300]"
          [results]="initialLetter"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Initial of surname"
          yAxisLabel="Number of contacts"
          [yAxisTickFormatting]="formatAxisTick"
        ></ngx-charts-bar-vertical>
      </div>
      <div>
        <p><strong>Lenght of name</strong></p>
        <ngx-charts-line-chart
          [view]="[400, 300]"
          [results]="contactsByFullName"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showYAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Full name lenght"
          yAxisLabel="Number of contacts"
          [yAxisTickFormatting]="formatAxisTick"
        ></ngx-charts-line-chart>
      </div>
    </div>
    <div class="chart-row">
      <div>
        <p><strong>Extensions</strong></p>
        <ngx-charts-pie-chart
          [view]="[400, 300]"
          [results]="emailExtensions"
          [labels]="true"
          [doughnut]="true"
        ></ngx-charts-pie-chart>
      </div>
      <div>
        <p><strong>Prefix</strong></p>
        <ngx-charts-bar-horizontal
          [view]="[400, 300]"
          [results]="phonePrefixData"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showYAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Number of contacts"
          yAxisLabel="Phone Prefix"
          [xAxisTickFormatting]="formatAxisTick"
        ></ngx-charts-bar-horizontal>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-title>Charts - Products</mat-card-title>
  <mat-card-content>
    <div class="chart-row">
      <div>
        <p><strong>Initial product name</strong></p>
        <ngx-charts-bar-vertical
          [view]="[400, 300]"
          [results]="initialLetterP"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Initial of product"
          yAxisLabel="Number of products"
          [yAxisTickFormatting]="formatAxisTick"
        ></ngx-charts-bar-vertical>
      </div>
      <div>
        <p><strong>Products prices</strong></p>
        <ngx-charts-bar-vertical
          [view]="[400, 300]"
          [results]="productsPrices"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showYAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Product name"
          yAxisLabel="Price (€)"
        ></ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="chart-row">
      <div>
        <p><strong>Active products</strong></p>
        <ngx-charts-pie-chart
          [view]="[400, 300]"
          [results]="productsAvailability"
          [labels]="true"
          [doughnut]="true"
        ></ngx-charts-pie-chart>
      </div>
      <div>
        <p><strong>Stock</strong></p>
        <ngx-charts-bar-horizontal
          [view]="[400, 300]"
          [results]="productsStock"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="false"
          [showYAxisLabel]="true"
          [showYAxisLabel]="true"
          xAxisLabel="Stock"
          yAxisLabel="Product"
          [xAxisTickFormatting]="formatAxisTick"
        ></ngx-charts-bar-horizontal>
      </div>
    </div>
  </mat-card-content>
</mat-card>
